
/* ========================================================================================================================================================================================================================================================================================================================== */
/* RESPONSIVE RULES --- OK */
/* ========================================================================================================================================================================================================================================================================================================================== */

@media(min-width:470px) {

	/*header*/
	div.header div.title-bar div.container { padding-left: 10px; padding-right: 10px; }

}

@media(min-width:768px) {

	/*footer*/
	div.footer div.company-info div.company-section { flex-flow: row; }
	div.footer div.company-info div.company-section div.logo { flex: 0 0 240px; width: 240px; margin: 0px; align-content: center; position: relative; }
	div.footer div.company-info div.company-section div.logo::after { content: ""; position: absolute; top: 5px; bottom: 5px; right: 9px; width: 1px; background-color: rgba(255,255,255,0.1); }
	div.footer div.company-info div.company-section div.info { flex: 1 1 auto; margin: 0px; }
}

@media(min-width:980px) {

	/*header*/
	div.header div.title-bar div.title-options a { border-right: 1px solid rgba(255,255,255,0.2); }
	div.header div.title-bar div.title-options a:first-child { border-left: 1px solid rgba(255,255,255,0.2); }
	div.header div.title-bar div.title-options a:not(.sign-out) { display: flex; }
}

@media(min-width:1024px) {

	/*general*/
	div.container { padding-left: 20px; padding-right: 20px; }

	/*footer*/
	div.footer div.company-info div.container { flex-flow: row; }
	div.footer div.company-info div.section-left { flex: 1 1 auto; margin-bottom: 0px; padding-right: 30px; }
	div.footer div.company-info div.section-right { flex: 0 0 320px; }
}

@media (min-width: 1280px) {

	/*general*/
	div.container { padding-left: 20px; padding-right: 20px; }
}


@media (min-width: 1440px) {
}

@media (min-width: 1650px) {

	/* <MOSTRAR EL MENU LATERAL> */
	/*left bar*/
	/*body.main-menu-opened div.main-menu, div.main-menu { flex: 0 0 360px; position: relative; left: auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
	body.main-menu-opened { overflow-y: auto; }
	body.main-menu-opened div.main-menu-blocker { z-index: 0; opacity: 0; }
	body.menu-included div.header div.menu-trigger { display: none !important; }
	body.menu-included div.main-menu div.menu-main { background-color: #000000; }
	body.menu-included div.main-menu div.menu-main > div.menu-icons { display: none; }*/
	/* </MOSTRAR EL MENU LATERAL> */

}